@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dce7f2;
}

.hidden {
  display: none;
}
.menu {
  position: relative;
  bottom: 100px;
}
.menus {
  position: relative;
  bottom: 80px;
}
.nav_bar {
  width: 100vh;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .nav_menu {
  position: absolute;
} */

.nav_item a:link,
.nav_item a:visited {
  color: #768799;
  text-decoration: none;
}

.container {
  position: relative;
  background: #ffffff;
  width: 350px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px #d2e3f4;
}

.header {
  position: relative;
  background: #84abd2;
  width: 350px;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px#B4C8DC;
}

.header h1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
}

i {
  font-size: 15px;
}

.comments {
  position: relative;
  width: 350px;
}

input:focus {
  outline: none;
}

.button {
  border-radius: 50px;
  width: 150px;
  height: 50px;
  background-color: #84abd2;
  border-color: #84abd2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  box-shadow: 0px 0px 4px 1px#B4C8DC;
}
