<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <h1>BLOG</h1>
    <h4>Category</h2>
    <ul>
      <li class="category">
        <a href="{% url 'movie' %}">Movie</a> ({{movie_num}})
      </li>
      <li class="category">
        <a href="{% url 'drama' %}">Drama</a>({{drama_num}})
      </li>
      <li class="category">
        <a href="{% url 'programming' %}">Programming</a>({{programming_num}})
      </li>
    </ul>
    <a href="{% url 'new' %}">글 쓰러 가기</a>
  </body>
</html>
