<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Movie</title>
  </head>
  <body>
    <h4>Movie</h2>
    <ul>
      {% for article in articles %}
      <li>
        <a href="{% url 'detail' article.pk %}">{{article.title}}</a>
      </li>
      {% endfor %}
    </ul>
    <br />
    <a href="{% url 'index' %}">목록</a>
  </body>
</html>
